<!DOCTYPE html>
<html>
<head>
  <title>Ej38</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <li><%= link_to "HOME", root_path%></li>
    <li><%= link_to "pag2", pags_pag2_path%></li>

  </ul>
<%= yield %>

</body>
</html>
